<div class="bg-white rounded h-full border-2 group-focus:border-gray-600">
  <section class="">
    <div class="flex-grow flex p-4 gap-4 justify-between items-center">
      <div class="flex-grow flex gap-4 items-center">
        <button (click)="routeRequest(req)"
          class="rounded font-medium bg-gray-300 py-2 px-4 text-gray-600 uppercase hover:bg-gray-200">
          {{ req.verb }}
        </button>
        <div class="font-mono">{{ URL }}</div>
      </div>
    </div>
  </section>

  <textarea readonly *ngIf="response" [value]="response"
    class="border-t font-mono h-48 text-xs w-full p-4 focus:outline-0">
  </textarea>
</div>
