<table class="table-auto bg-white rounded p-4 border w-full">
  <thead>
    <tr class="text-left border-b">
      <th class="p-4">Name</th>
      <th class="p-4">Height</th>
      <th class="p-4">Mass</th>
      <th class="p-4">Hair Color</th>
      <th class="p-4">Eye Color</th>
      <th class="p-4">Birth Year</th>
      <th class="p-4">Gender</th>
    </tr>
  </thead>
  <tbody *ngIf="responses">
    <tr class="border-b hover:bg-gray-100" *ngFor="let res of responses.results">
      <td class="p-4">{{res.name}}</td>
      <td class="p-4">{{res.height}}</td>
      <td class="p-4">{{res.mass}}</td>
      <td class="p-4">{{res.hair_Color}}</td>
      <td class="p-4">{{res.eye_Color}}</td>
      <td class="p-4">{{res.birth_Year}}</td>
      <td class="p-4">{{res.gender}}</td>
    </tr>
  </tbody>
</table>
<div class="flex justify-between pt-8">
  <div>Showing {{first}} to {{second}} of {{total}} results</div>
  <div class="flex gap-4">
    <button class="border rounded px-8 py-2 border-gray-300 text-sm bg-blue-700 text-white disabled:opacity-50"
      (click)="fetchPrevious()" [disabled]="disablePrev">Previous</button>
    <button class="border rounded px-8 py-2 border-gray-300 text-sm bg-blue-700 text-white disabled:opacity-50"
      (click)="fetchNext()" [disabled]="disableNext">Next</button>
  </div>
</div>
