<main class="flex-col flex min-h-screen bg-gray-100 p-8 gap-10 justify-between">
  <div class="container mx-auto">
    <h1 class="font-bold pb-8 text-2xl text-gray-700 md:text-4xl md:black">
      <div>Compliant Application</div>
      <div class="font-normal text-xs pt-1">Base URL: {{ base }}</div>
    </h1>

    <section class="flex flex-col gap-8">
      <app-request-card
        *ngFor="let req of requests"
        [req]="req"
      ></app-request-card>
    </section>
  </div>

  <footer class="text-sm text-center text-gray-700">© 2022 Copyright: Compliant Application</footer>
</main>
